<div class="card">
  <div class="header">
    <span class="title">Sign In</span>
  </div>
  <div class="content">
    <form [formGroup]="userForm">
      <div class="form-field">
        <input type="text" id="email" formControlName="email" />
        <label class="label" (click)="focusInput('email')">Email</label>
      </div>
      <div class="form-field">
        <input type="password" id="password" formControlName="password" />
        <label class="label" (click)="focusInput('password')">Password</label>
      </div>
    </form>
  </div>
</div>
