<div class="jumbotron" *ngIf="!isLoggedIn()">
  <p class="title">Collect your Notes in One Place</p>
  <p class="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
    bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
    justo commodo. Proin sodales pulvinar sic tempor.
  </p>
  <img src="assets/icons/note.svg" alt="" class="note" />
  <div class="buttons">
    <button id="login-btn" routerLink="/login">LOGIN</button>
    <button id="register-btn" routerLink="/register">REGISTER</button>
  </div>
</div>
