@import '~@angular/material/theming';
@include mat-core();

// $app-primary: mat-palette($mat-light-blue, 400, 100, 600);
$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-deep-orange);
$app-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($custom-theme);

$primary-default: map-get($app-primary, default);
$primary-lighter: map-get($app-primary, lighter);
$primary-darker: map-get($app-primary, darker);
$accent: map-get($app-accent, default);
$warn: map-get($app-warn, default);
$background: #f0f0f0;
