<div class="card">
  <!-- <mat-toolbar class="header" color="primary">
    <span>Sign In</span>
    <span class="link">Sign Up</span>
  </mat-toolbar> -->
  <div class="content" id="sign-in">
    <div class="toolbar">
      <h1 class="sign-in">Sign In</h1>
      <h1 class="sign-up">Sign Up</h1>
    </div>
    <div class="form">
      <form>
        <mat-form-field class="form-field" id="email">
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder="Email" />
        </mat-form-field>
        <mat-form-field class="form-field" id="password">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" />
        </mat-form-field>
        <div class="button">
          <button mat-raised-button color="primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="content" id="sign-up">
    <h1>Sign Up</h1>
    <form>
      <mat-form-field class="form-field" id="name">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" />
      </mat-form-field>
      <mat-form-field class="form-field" id="email">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Email" />
      </mat-form-field>
      <mat-form-field class="form-field" id="password">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" />
      </mat-form-field>
      <mat-form-field class="form-field" id="repeat-password">
        <mat-label>Repeat Password</mat-label>
        <input matInput type="password" placeholder="Repeat Password" />
      </mat-form-field>
      <div class="button">
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </div>
</div>
