@import '~src/styles/variables';
@import '~@angular/material/theming';

.card {
  width: 90%;
  max-width: 500px;
  position: relative;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px;
  @include mat-elevation(4);
  background-color: #fff;

  .nav-btn {
    position: absolute;
    left: 40px;
    top: -25px;
    height: 50px;
    width: 150px;

    &#sign-in-btn {
      display: none;
    }
  }

  .toolbar {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;

    span {
      background-color: #fff;
      padding: 15px;
      cursor: pointer;
      transition: 0.2s;
      font-size: 1rem;
      text-transform: uppercase;

      &:hover {
        background-color: $primary-lighter;
      }

      &.active {
        background-color: $primary-default;
        color: #fff;

        &:hover {
          background-color: $primary-default;
        }
      }
    }
  }

  .content {
    width: 100%;
    box-sizing: border-box;

    .headline {
      text-align: center;
      font-size: 2rem;
      padding: 40px 0 80px;
    }

    &#sign-in {
      display: block;
    }

    &#sign-up {
      display: none;
    }

    .form-field {
      display: block;
      width: 100%;
      border-radius: 0;
      position: relative;
      margin-bottom: 40px;

      input {
        width: 100%;
        border: 2px solid $primary-lighter;
        height: 40px;
        font-size: 18px;
        padding: 0 10px;
        box-sizing: border-box;

        &:focus {
          outline: 0;
          border-color: $primary-default;
        }
      }

      label {
        position: absolute;
        font-size: 18px;
        left: 10px;
        top: 9px;
        color: rgba(#000, 0.8);
        z-index: 100;
      }

      .error {
        display: none;
      }

      input:focus + label,
      input:valid + label {
        font-size: 11px;
        background-color: #fff;
        padding: 0 5px;
        transition: 0.2s;
        top: -7px;
        left: 5px;
      }

      .req {
        color: $accent;
      }
    }

    .button {
      display: block;
      margin: 50px 0 0;
      width: 100%;
      background: $primary-default;
      text-align: center;
      color: #fff;
      padding: 20px 0;
      font-size: 25px;
      cursor: pointer;
    }
  }
}
