<div class="card">
  <button
    mat-raised-button
    color="primary"
    class="nav-btn"
    id="sign-in-btn"
    (click)="toggleSignIn()"
  >
    Sign In
  </button>
  <button
    mat-raised-button
    color="primary"
    class="nav-btn"
    id="sign-up-btn"
    (click)="toggleSignUp()"
  >
    Sign Up
  </button>
  <div class="content" id="sign-in">
    <p class="headline">Welcome Back!</p>
    <form>
      <div class="form-field">
        <input type="email" required />
        <label>Email <span class="req">*</span></label>
        <span class="error">Incorrect Email</span>
      </div>
      <div class="form-field">
        <input type="password" required />
        <label>Password <span class="req">*</span></label>
        <span class="error">Invalid Password</span>
      </div>
      <!-- <button mat-flat-button color="primary" class="button">Sign In</button> -->
      <div class="button">SIGN IN</div>
    </form>
  </div>
  <div class="content" id="sign-up">
    <p class="headline">Sign Up for Free</p>
    <form>
      <div class="form-field">
        <input type="text" required />
        <label>Username <span class="req">*</span></label>
        <span class="error">Incorrect Username</span>
      </div>
      <div class="form-field">
        <input type="email" required />
        <label>Email <span class="req">*</span></label>
        <span class="error">Incorrect Email</span>
      </div>
      <div class="form-field">
        <input type="password" required />
        <label>Password <span class="req">*</span></label>
        <span class="error">Invalid Password</span>
      </div>
      <div class="form-field">
        <input type="password" required />
        <label>Repeat Password <span class="req">*</span></label>
        <span class="error">Password does not match</span>
      </div>
      <!-- <button mat-flat-button color="primary" class="button">Sign Up</button> -->
      <div class="button">SIGN UP</div>
    </form>
  </div>
</div>
