<div class="container">
  <div class="top-bar">
    <mat-form-field class="form-field" appearance="outline" color="primary">
      <mat-label>SEARCH</mat-label>
      <input matInput type="text" placeholder="SEARCH" />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="notes">
    <mat-card class="card">
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content>Lorem ipsum - this is the content</mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content>Lorem ipsum - this is the content</mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content>Lorem ipsum - this is the content</mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content>Lorem ipsum - this is the content</mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content>Lorem ipsum - this is the content</mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content>Lorem ipsum - this is the content</mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content>Lorem ipsum - this is the content</mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content>Lorem ipsum - this is the content</mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content>Lorem ipsum - this is the content</mat-card-content>
    </mat-card>
  </div>
</div>

<button mat-fab class="new-note-btn" color="primary">
  <mat-icon>add</mat-icon>
</button>
